body {
    background-color: rgb(94, 123, 133);
    padding: 0px 150px;
    margin: 0px;
}

.main {
    margin: 0px 50px;
    background-color: white;
    height: 95%;
    border: 3px solid darkgray;
    border-radius: 10px;
}