body {
    background-color: rgb(94, 123, 133);
    margin: 0px;
    font-family: 'Trebuchet MS'
}

.main {
    margin: 0% 15% 0% 15%;
    padding: 10px;
    background-color: white;
    height: 95%;
    border: 3px solid darkgray;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px;
}

.nav {
    background-color: white;
    width: 100%;
    border-bottom: 2px solid darkgray;
    overflow: hidden;
}
.nav a {
    float: left;
    display: block;
    text-align: center;
    font-size: 14pt;
    padding: 12px;
    border-left: 2px solid darkgray;
    border-right: 2px solid darkgray;
    background-color: darkred;
    color: white;
    text-decoration: none;
}
.nav a:hover {
    color: lightgray;
}
.nav-right {
    float: right;
}
#navName {
    background-color: white;
    color: darkred;
}

#tableImg{
  height: 50px;
  width: 50px;
}

table, input, textarea{
    float: left;
}
label {
    float: right;
    font-weight: bold;
}
td {
    height: 30px;
}
