body {
    background-color: rgb(94, 123, 133);
    margin: 0px;
    font-family: 'Trebuchet MS'
}

.main {
    margin: 0% 15% 0% 15%;
    padding: 10px;
    background-color: white;
    height: auto;
    border: 3px solid darkgray;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px;
}

.nav {
    background-color: white;
    width: 100%;
    border-bottom: 2px solid darkgray;
    overflow: hidden;
}
.nav a {
    float: left;
    display: block;
    text-align: center;
    font-size: 14pt;
    padding: 12px;
    border-left: 2px solid darkgray;
    border-right: 2px solid darkgray;
    background-color: darkred;
    color: white;
    text-decoration: none;
}
.nav a:hover {
    color: lightgray;
}
.nav-right {
    float: right;
}
#navName {
    background-color: white;
    color: darkred;
}

table, input, textarea{
    text-align: center;
    width: auto;
}
label {
    float: right;
    font-weight: bold;
}
td {
    height: 30px;
}

.tableImg{
    display: block;
    width: 100%;
    height: auto;
}
#fundTable td {
    width: 20%;
    text-align: center;
}

#footer {
    font-size: 8pt;
    text-align: center;
}

#progressShell{
  width: 100%;
  height: 100px;
  background-color: #c4beb5;
  text-align: right;

  text-shadow: 5px;
  margin-bottom:10px;
}

#progressBar{
  color: white;
  width:40%;
  height: 100%;
  background-color: #64de22;
}
